.module-list-item {
    padding: 10px 0px !important;
    margin: 0px !important;
    margin-bottom: var(--spacing-standard);
    --background: var(--color-background-light);
    --border-radius: 16px;
    --inner-padding-bottom: 16px;
    --inner-padding-start: 20px;
    --inner-padding-top: 16px;
    --inner-padding-end: 16px;
}


.bubble-roompage {
    --background: var(--color-background-shade);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    --box-shadow: none;
}